<nav class="navbar navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="{{ asset('assets/img/logo.svg') }}" alt="Logo TRT Conseil" width="100 px"
           class="d-inline-block align-text-top">


    </a>
    <div>


    <a href="{{ path('app_home') }}" class="btn btn-light p-2 mx-2"> Accueil</a>
      <a href="{{ path('app_home') }}" class="btn btn-light p-2 mx-2"> Établissement</a>
      

        {% if is_granted('ROLE_CUSTOMER') %}

      <a href="{{ path('app_home') }}" class="btn btn-light p-2 mx-2">Mon compte</a>
      <a href="{{ path('app_home') }}" class="btn btn-light bg-lg p-2 mx-2">Réservation</a>
          <a href="{{ path('app_contact_form') }}" class="btn btn-light p-2 mx-2"> Contact</a>
      <a href="{{ path('app_logout') }}" class="btn btn-light bg-lg p-2 mx-2">Déconnexion</a>

    {% elseif is_granted('ROLE_MANAGER') %}

      <a href="{{ path('app_manager_suite_index') }}" class="btn btn-light p-2 mx-2">Mon compte</a>

      <a href="{{ path('app_home') }}" class="btn btn-light bg-lg p-2 mx-2">Réservation</a>
      <a href="{{ path('app_contact_form') }}" class="btn btn-light p-2 mx-2"> Contact</a>
      <a
          href="{{ path('app_logout') }}" class="btn btn-light p-2 mx-2">Déconnexion</a>

    {% elseif is_granted('ROLE_ADMIN') %}

      <a href="{{ path('admin') }}" class="btn btn-light p-2 mx-2">Mon compte</a>

      <a href="{{ path('app_home') }}" class="btn btn-light bg-lg p-2 mx-2">Réservation</a>
      <a href="{{ path('app_contact_form') }}" class="btn btn-light p-2 mx-2"> Contact</a>
      <a
          href="{{ path('app_logout') }}" class="btn btn-light p-2 mx-2">Déconnexion</a>


    {% else %}
      <a href="{{ path('app_login') }}" class="btn btn-light p-2 mx-2">Connexion</a>
      <a
          href="{{ path('app_home') }}" class="btn btn-light p-2 mx-2">Inscription</a>

      <a href="{{ path('app_contact_form') }}" class="btn btn-light p-2 mx-2"> Contact</a>
    {% endif %}
  </div>
  </div>

  </div>
</nav>