{% extends 'base.html.twig' %}

{% block title %}Bienvenue chez Hypnos{% endblock %}

{% block body %}

	<div class="container-fluid">
		<h1 class="my-3"> Hypnos, les plus beaux hotels pour des séjours romantiques</h1>

		<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">


				{% for hotel in hotels %}

					<div class="carousel-item ">
						<div class="card">
							<img class="card-img-top" src="/images/hotel/{{ hotel.imageName }}"
									 alt="Photo de l’hotel {{ hotel.name }}">
							<p class="card-text m-2 d-flex justify-content-around"> Hotel {{ hotel.name }} || {{ hotel.city }}<a
										href="{{ path('app_hotel_view',{'id' : hotel.id }) }}" class="btn btn-primary">Voir l’hotel</a>
						</div>
					</div>
				{% endfor %}
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>

		</div>
	</div>
	</div>

	<script>
      $(document).ready(function () {
          $('#carouselExampleControls').find('.carousel-item').first().addClass('active');
      });
	</script>

{% endblock %}
