{% extends 'base.html.twig' %}

{% block title %}Reservation suite{% endblock %}

{% block body %}
	<link href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css' rel='stylesheet' type='text/css'>




<div class="container w-75">
<h1 class="my-4">Formulaire de réservation</h1>
	{{ form_start(form) }}
	<div class="my-custom-class-for-errors">
		{{ form_errors(form) }}
	</div>

	<div id="select-hotel form-group my-3 ">
		<label for="hotel" class="form-label">Choisissez l’hotel désiré</label>
		<select id="hotel" name="hotel" class="form-control w-50">
			<option value="0">---Choisissez votre hotel---</option>
			{% for hotel in hotels %}
				<option value="{{ hotel.id }}">{{ hotel.name }}</option>
			{% endfor %}


		</select>
	</div>

	<div id="select-suite"  class="form-group my-3">
		<label for="suite" class="form-label">Choisissez la suite désirée</label>
		<select id="suite" name="suite" class="form-control w-50">
		</select>
	</div>

	<div class="dates mt-4">
		<div class="start_date input-group mb-4 w-50">
			<input class="form-control start_date " type="date" name="startDate" placeholder="Date de début de séjour" id="startdate_datepicker">
			<div class="input-group-append">
				<span class="fa fa-calendar  fa-2x input-group-text start_date_calendar" aria-hidden="true "></span>
			</div>

		</div>
		<div class="end_date input-group mb-4 w-50">
			<input class="form-control end_date " type="date" name="endDate" placeholder="Date de fin du séjour" id="enddate_datepicker">
			<div class="input-group-append">
				<span class="fa fa-calendar fa-2x input-group-text end_date_calendar" aria-hidden="true "></span>
			</div>
		</div>
	</div>

	<button type="submit" id="submit" class="btn btn-primary my-4">Valider la réservation</button>
 {{form_end(form)}}
	{% if notification %}
		<div class="alert alert-danger w-75" id="alert" role="alert">
			{{ notification }}
		</div>
	{% endif %}
	<script type="text/javascript">

      // Désactive le select suite au chargement
      $('#select-suite').hide();
      // function d’affichage du select suite et de ses données
      $('#hotel').on('change', function () {
          let hotel_id = $('#hotel').val();
          $('#alert').remove();
          $('#suite').empty();
          async function selectSuites() {
              let selectedSuites = await getSuites(hotel_id);
              selectedSuites.forEach(suite => {
                  $('#suite').append($('<option>', {
                      value: suite.id,
                      text: suite.name
                  }))
              })
          }
          selectSuites();
          setTimeout("$('#select-suite').show()",1500);
          if ($('#hotel').val() === '0') {
              $('#select-suite').hide();
          }
      })



      // Fonction pour récupérer les données des suites dans un controller dédié
      async function getSuites(hotel_id) {
          let response = await fetch("{{ path('app_api') }}", {method: 'get'});
          if (response.status === 200) {
              let data = await response.json();

              let filterResponse = [];
              for (let i = 0; i < data.suite.length; i++) {
                  if (data.suite[i]['hotel_id'] == hotel_id) {
                      filterResponse.push(data.suite[i]);
                  }
              }
              return filterResponse;
          }
      }

	</script>
	<script type="text/javascript">
      $(document).ready(function(){
          $("#startdate_datepicker").datepicker({
              format: 'yyyy-mm-dd',
              startDate: '+1d'
          });
          $("#enddate_datepicker").datepicker({
              format: 'yyyy-mm-dd',
              startDate: '+1d'
          });
      });
	</script>
</div>
{% endblock %}


