{% extends 'base.html.twig' %}

{% block title %}Reservation suite{% endblock %}

{% block body %}





  {{ form_start(form) }}
  <div id="select-hotel">
    <label for="hotel">Choisissez l’hotel désiré</label>
    <select id="hotel" name="hotel">
      <option value="0">---Choisissez votre hotel---</option>
      {% for hotel in hotels %}
             <option value="{{ hotel.id }}">{{ hotel.name }}</option>
      {% endfor %}
{% if notification %}
      {{ notification }}
      {% endif %}

    </select>
  </div>

  <div id="select-suite">
    <label for="suite">Choisissez la suite désirée</label>
    <select id="suite" name="suite">
    </select>
  </div>
    <button type="submit"  class="btn btn-primary">Essai</button>







  {{ form_end(form) }}

{% endblock %}


