{% extends 'base.html.twig' %}

{% block title %}Hello BookingRegistrationController!{% endblock %}

{% block body %}





  {{ form_start(form) }}
  <div id="select-hotel">
    <label for="hotel">Choisissez l’hotel désiré</label>
    <select id="hotel" name="hotel">
      <option value="0">---Choisissez votre hotel---</option>
      {% for hotel in hotels %}
             <option value="{{ hotel.id }}">{{ hotel.name }}</option>
      {% endfor %}
{% if notification %}
      {{ notification }}
      {% endif %}

    </select>
  </div>

  <div id="select-suite">
    <label for="suite">Choisissez la suite désirée</label>
    <select id="suite" name="suite">
    </select>
  </div>
    <button type="submit"  class="btn btn-primary">Essai</button>


  <script type="text/javascript">
    $('#select-suite').on('load').hide();

    $('#hotel').on('change', function() {
      $('#select-suite').show();

      if ($('#hotel').val() == 0) {
        $('#select-suite').hide();
      }
      let hotel_id = ($('#hotel').val());
      let form = new FormData();
      form.append('hotel_id', JSON.stringify(hotel_id));
      let myInit = {
        method: 'POST',
        mode: 'cors',
        body: JSON.stringify(form),
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
        }
      };

      fetch('../api/booking').then(resp => resp.json())
          .then(response => {
                console.log(response);
              }
          );


    })


    $('form').submit(async function(e) {
      e.preventDefault();



        console.log('test');

      })


  </script>





  {{ form_end(form) }}

{% endblock %}


