{% extends 'base.html.twig' %}

{% block title %}Hello BookingRegistrationController!{% endblock %}

{% block body %}





  {{ form_start(form) }}
  <div>
    <label for="hotel">Choisissez l’hotel désiré</label>
    <select id="hotel" name="hotel">
      <option value="0">---Choisissez votre hotel---</option>
      {% for hotel in hotels %}
        {{ dump(hotel.name) }}
        <option value="{{ hotel.id }}">{{ hotel.name }}</option>
      {% endfor %}


    </select>
  </div>

  <div id="select-suite">
    <label for="suite">Choisissez la suite désirée</label>
    <select id="suite" name="suite">
    </select>
  </div>

  <script>
    $('#select-suite').on('load').hide();
    $('#hotel').on('change', function() {
      $('#select-suite').show();
      if ($('#hotel').val() == 0) {
        $('#select-suite').hide();
      }
    });


  </script>





  {{ form_end(form) }}

{% endblock %}


