{% extends 'base.html.twig' %}

{% block title %}Hello BookingRegistrationController!{% endblock %}

{% block body %}

  <div id="res"></div>



  {{ form_start(form) }}

  <label for="hotelChoice">Choississez votre hotel</label>
  <select id="hotelChoice">
    {% for hotelChoice in hotel %}
      <option value="{{ hotelChoice.id }}">{{ hotelChoice }}</option>
    {% endfor %}
  </select><br>

  <label for="SuiteChoice">Choississez votre suite</label>
  <select id="SuiteChoice">
  {#  {% for suiteChoice in suite %}

      {% if suiteChoice %}
        #}
        <option></option>


  </select>


  {{ form_end(form) }}

  <script>
    $("#hotelChoice").on("change", function () {

      console.log( $( this ).val());

      $(document).ready(function(){
        $.ajax({
          //L'URL de la requête
          url: "{{ path('app_booking_registration') }}",

          //La méthode d'envoi (type de requête)
          method: "GET",

          //Le format de réponse attendu
          dataType : "json",
        })
            //Ce code sera exécuté en cas de succès - La réponse du serveur est passée à done()
            /*On peut par exemple convertir cette réponse en chaine JSON et insérer
						 * cette chaine dans un div id="res"*/
            .done(function(response){
              let data = JSON.stringify(response);
              $("div#res").append(data);
            })

            //Ce code sera exécuté en cas d'échec - L'erreur est passée à fail()
            //On peut afficher les informations relatives à la requête et à l'erreur
            .fail(function(error){
              alert("La requête s'est terminée en échec. Infos : " + JSON.stringify(error));
            })

            //Ce code sera exécuté que la requête soit un succès ou un échec
            .always(function(){
              alert("Requête effectuée");
            });
      });

    });


  </script>
{% endblock %}


