{% extends 'base.html.twig' %}

{% block title %}Suite {{ suite.name }}{% endblock %}

{% block body %}
    <h1 class="h1 m-4">Suite {{ suite.name }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th scope="row">Hotel</th>
            <td>{{ suite.hotel }}</td>
        </tr>
        <tr>
            <th scope="row">Description de la suite</th>
            <td>{{ suite.description }}</td>
        </tr>
        <tr>
            <th scope="row">Prix de la nuitée</th>
            <td>{{ suite.nightPrice }} €</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary m-2 " href="{{ path('app_manager_suite_index') }}">Retour à la liste</a>

    <a class="btn btn-primary m-2 " href="{{  path('app_manager_suite_edit', {'id': suite.id}) }}">Edition</a>
    <h2 class="h2 mt-3">Images</h2>

    <div class="container d-flex">
        <div class="row ">

            {% for suite in suite.images %}
                <div class="col-md ">

                    <div class="card my-2">
                        <img class="card-img-top" src="{{ asset('/uploads/'~suite.name) }}" alt="Image suite">

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {{ include('manager_suite/_delete_form.html.twig') }}
{% endblock %}
