{% extends 'base.html.twig' %}

{% block title %}Gestion de l’hôtel{% endblock %}

{% block body %}

    <h1 class="my-5">Bonjour et bienvenue {{ app.user }}.</h1>

    {{ form_start(form) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
        {{ form_row(form.name) }}
        {{ form_row(form.address) }}
        {{ form_row(form.city) }}

    {{ form_row(form.description) }}

<div class="vichr_resize_form"
        {{ form_row(form.imageFile) }}

</div>
    {{ form_end(form) }}
    <a class ="btn btn-primary m-2 btn-lg" href="{{ path('app_manager_suite_index') }}">Gestions des suites</a>
{% endblock %}
