{% extends 'base.html.twig' %}

{% block title %}Gestion de l’hôtel{% endblock %}

{% block body %}

    <h1 class="h1 my-3">Gestion de votre établissement</h1>
    <h2 class="my-4 h3">Bonjour et bienvenue {{ app.user }}.</h2>

    {{ form_start(form) }}

    <div class="my-custom-class-for-errors">
        {{ form_errors(form) }}
    </div>
        {{ form_row(form.name) }}
        {{ form_row(form.address) }}
        {{ form_row(form.city) }}

    {{ form_row(form.description) }}

<div class="vichr_resize_form">
        {{ form_row(form.imageFile) }}</div>

    <div class="d-flex align-items-center">
{{ form_row(form.submit) }}
    <a class ="btn btn-lg btn-info  mb-3" href="{{ path('app_manager_suite_index') }}">Aller vers la gestion des suites</a>

    {{ form_end(form) }}
    </div>

{% endblock %}
