{% extends 'base.html.twig' %}

{% block title %}{{ hotel.name }}{% endblock %}

{% block body %}

	<h1 class="h1 my-3-4">{{ hotel.name }}</h1>

	<h2 class="h2 my-2">		{{ hotel.city }}</h2>
	<img class="img-fluid " src="{{ asset('/images/hotel/'~hotel.imageName) }}" alt="Image de l'Hôtel {{ hotel.name }} ">

		<p>{{ hotel.description }}</p>
<p>Adresse : {{ hotel.address }} à  {{ hotel.city }}</p>
	<div class="container">

			{% for suite in suites %}

					<div class="card my-4 w-75 h-75 mx-auto  ">

						<img class="card-img-top img-fluid " src="{{ asset('/images/hotel/'~suite.imageName) }}"
								 alt="Image de la suite {{ suite.name }} ">

						<div class="card-body ">

								<div class=row><span class="h4 m-1">Suite {{ suite.name }} </span>
									<p>{{ suite.description }}</p>
								</div>
								<div class="d-flex align-items-center justify-content-end ">{{ suite.nightPrice }} € la nuit

									<a href="{{ path('app_booking_registration', {'id': suite.id}) }}"
										 class="btn btn-info ms-4">Réserver</a>
							</div>
						</div>
					</div>

			{% endfor %}
		</div>


{% endblock %}
