{% extends 'base.html.twig' %}

{% block title %}{{ hotel.name }}{% endblock %}

{% block body %}

	<h1 class="h1 my-3 ms-5">{{ hotel.name }} </h1>
	<h2 class="h2 my-2 ms-5">		{{ hotel.city }}</h2>
	<div class="d-flex flex-column align-items-center">
	<img class="img-fluid " style="max-width: 900px" src="{{ asset('/images/hotel/'~hotel.imageName) }}" alt="Image de l'Hôtel {{ hotel.name }} ">

		<p class="w-75 m-2">{{ hotel.description }}</p>
<p class="m-2">Adresse : {{ hotel.address }} à  {{ hotel.city }}</p></div>
	<hr>
	<div class="container">
	<h3 class="h3 text-center my-3">Nos suites</h3>
			{% for suite in suites %}

					<div class="card my-4 w-75 h-75 mx-auto  ">

						<img class="card-img-top img-fluid " src="{{ asset('/images/suite/'~suite.imageName) }}"
								 alt="Image de la suite {{ suite.name }} ">

						<div class="card-body ">

								<div class=row><span class="h4 my-2">{{ suite.name }} </span>
									<p>{{ suite.description }}</p>
								</div>
							<div class="d-flex align-items-center justify-content-end ">
								<div class="me-3">{{ suite.nightPrice }} € la nuit</div>
									<a href="{{ path('app_suite_view',{'id' : suite.id }) }}" class="btn btn-danger">Voir la suite</a>
									<a href="{{ path('app_booking_registration', {'id': suite.id}) }}"
										 class="btn btn-secondary ms-3">Réserver</a>
							</div>
						</div>
					</div>

			{% endfor %}
		</div>


{% endblock %}
